* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    /* Isso Serve para quando o mouse for rolar a tela, o movimento seja suave */
    scroll-behavior: smooth;

}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background: var(--escuro);
    color: var(--claro);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
        radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
        radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
        var(--maisescuro);
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* Início nav */
.navegacao {
    position: fixed;
    top: 0;
    /*Pra ele sempre ficar no topo*/
    background: rgba(15, 23, 42, 0.8);
    /*Esse 0.8 no final, é o quanto essa cor é opaca/transparente*/
    width: 100%;
    z-index: 100;
    /*Aqui ele determina quem fica na frente de quem*/
    padding: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
    /* Aqui ele tirou as bolinhas da lista */
    justify-content: center;
    gap: 3rem;


    a {
        color: var(--claro);
        font-weight: 500;
        text-decoration: none;
        position: relative;
        padding: 0.5rem 0;
    }

    a::after {
        content: '';
        height: 2px;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(90deg, var(--primaria), var(--secundaria));
        transition: width 0.5s ease;
    }

    a:hover::after {
        width: 100%;
    }
}

/* Fim nav */

/* Início Main */
.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h1 {
        font-size: 3.5rem;
        color: var(--primaria);
        font-weight: bold;
        margin: 20px;
    }

    p {
        font-size: 1.5rem;
        color: var(--claro);
    }
}

.foto-perfil {
    height: 300px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}

/* Fim Main */

/* Início Sobre*/
.secao-sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;


    .sobre {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;

        .perfil2 {
            width: 250px;
            border-radius: 20px;
            border: 4px solid var(--vidro);
            box-shadow: 0 0 20px rgba(39, 33, 159, 0.3);
        }

        .sobre-caixa {
            width: 40rem;
            padding: 0;
            text-align: center;

            h2 {
                font-size: 3rem;
            }

            p {
                padding: 1.5rem 0;
                line-height: 2rem;
            }

            .icones {
                display: flex;
                justify-content: center;
                gap: 1rem;

                img {
                    transition: transform 0.4s ease;
                }

                img:hover {
                    transform: scale(1.1);
                }
            }

        }

    }
}



/* Fim Sobre*/

/* Início seção de projetos */
.projetos {
    padding: 6rem 2rem;

    h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 50px;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    /* Esse overflow é para se o item estiver muito grande e esparramar, é para esconder as sobras.*/
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
        box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
        transform: translateY(-10px) scale(1.03);

    }

    p {
        color: rgba(226, 232, 240, 0.8);
        line-height: 1.25rem;
    }



}

.txt-projetos {
    padding: 1.5rem;

    h3 {
        margin-bottom: 5px;
    }

    p {
        margin-bottom: 15px;
    }

    a {
        font-size: 17px;
        color: #fff;
        text-decoration: none;
        transition: ease 0.5s;

        &:hover {
            color: var(--secundaria);

        }
    }
}


.card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    /* Aqui ele fala onde a imagem tem que cobrir, aí eu falei que ela tem que cobrir tudo onde ela está, mas respeitando os valores que coloquei acima. */
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000b8;
    opacity: 0;
    transition: 0.5s;

    a {
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: #c8c7c7;

        &:hover {
            transition: 0.5s;
            color: #fff;
        }
    }

    &:hover {
        opacity: 1;
    }

    /* Eu desativei esse overlay, por que eu achei que estava muita informação, aí optei por algo mais simples */
}

/* Fim seção de projetos */

/* Aqui inicia a seção de Contato */

.contato {
    padding: 6rem 2rem;

    h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 50px;
    }
}

.formulario {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;

    .campo {
        margin-bottom: 1.5rem;

        .input {
            width: 100%;
            padding: 1rem;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 8px;
            color: var(--claro);
            border: 1px solid var(--vidro);
            outline: none;
            /* esse outline none, é aquela bordinha feia, que agora saiu. */

            /* Esse focus aqui, é quando eu clico no input, e ele entra em foco, aí acontece isso: */
            &:focus {
                border-color: var(--secundaria);
                box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
            }
        }
    }

    .botao-form {
        color: var(--claro);
        background: linear-gradient(45deg, var(--primaria), var(--secundaria));
        padding: 1rem 2rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        width: 100%;
        transition: 0.5 ease;

        &:hover {
            transform: translateY(-4px);
            /* esse translate y, é pro botão ir pra cima */
            box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
        }
    }
}

/* Aqui acaba a seção de Contato */