/*responsivo para celular */

@media(max-width:480px) {

    .secao-sobre {

        .sobre {
            flex-direction: column;
        }

        .sobre-caixa {
            max-width: 90%;
        }
    }

}

/* responsivo para tablet */

@media (min-width:481px) and (max-width:850px) {

    .sobre {
        padding: 0 3rem;
    }
}